body{
    background-color: var(--main-dark-color);
    color: var(--main-dark-color);
    font-size: 18px;
}

#game{
    width: 100%;
    max-width: 700px;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}

#stats,
#controls {
    border: 0.1rem solid var(--main-dark-color);
    padding: 0.5rem;
    color: var(--main-dark-color);
}

button{
    font-size: 15px;
}

#monsterStats{
    display: none;
    border: 0.1rem solid var(--main-dark-color);
    padding: 0.5rem;
    color: var(--main-light-color);
    background-color: var(--health-bar-color);
}

.stat{
    padding-right: 10px;
}

button{
    cursor: pointer;
    color: var(--main-dark-color);
    background-color: var(--accent-dark-color);
    background-image: linear-gradient(--accent-light-color,--accent-contrast);
    border: 0.3rem solid var(--accent-dark-color);
}

#text{
    color: var(--main-light-color);
    padding: 0.5rem;
}