*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: green;
    font-size: 1.8rem;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


#game{
    width: 100%;
    max-width: 70rem;
    padding: 1rem;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    justify-content:center;
}

#text{
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    padding: 1rem;
}


#stats,
#controls {
    border: 0.1rem solid var(--main-dark-color);
    padding: 0.5rem;
    color: var(--main-dark-color);
}

button{
    font-size: 15px;
}

#monsterStats{
    display: none;
    border: 0.1rem solid var(--main-dark-color);
    padding: 0.5rem;
    color: var(--main-light-color);
    background-color: var(--health-bar-color);
    padding: 0.5rem;
}

.stat{
    padding-right: 10px;
}

button{
    cursor: pointer;
    color: var(--main-dark-color);
    background-color: var(--accent-dark-color);
    background-image: linear-gradient(--accent-light-color,--accent-contrast);
    border: 1rem solid var(--accent-dark-color);
}
